* {
    margin: 0;
    padding: 0;
    
    
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100vw;
    background-color: #3d535f25;
}

.nav {
    display: flex;
    width: 100vw;
    position: fixed;
    padding: 10px;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 15px lightgray ;
    
}

.nav-item {
    display: flex;
    margin: auto;
    list-style: none;
    gap: 30px;
    

}

.nav-item li a,
.logo a {
    text-decoration: none;
    font-size: 25px;
    color: #3d535f;
}

.nav-item li a:hover {
    color: #7f00ff;
}

.dot {
    color: #7f00ff;
}

.shape1 {
    z-index: 1;
    width: 8rem;
    height: 8rem;
    background: linear-gradient(45deg, #7f00ff, pink);
    border-radius: 70px;
    position: absolute;
    animation: anima 2s ease-in-out infinite alternate;
}

@keyframes anima {
    to {
        margin: 5rem 0px 0px 19rem;
    }

    from {
        margin: 7rem 0px 0px 19rem;
    }

}

.shape2 {
    width: 21rem;
    height: 21rem;
    background: linear-gradient(45deg, #7f00ff, pink);
    border-radius: 200px;
    position: absolute;
    animation: anima2 4s ease-in-out infinite alternate;
}

@keyframes anima2 {
    to {
        margin: 300px 0px 0px -130px;
    }

    from {
        margin: 350px 0px 0px -50px;
    }

}

.shape3 img {
    height: 27rem;
    position: absolute;
    animation: anima3 2s ease-in-out infinite alternate;
}

@keyframes anima3 {
    to {
        margin: 200px 0px 0px 56%;
    }

    from {
        margin: 240px 0px 0px 55%;
    }
}

.my-photo img {
    z-index: 5;
    height: 37rem;
    position: absolute;
    transform: rotateY(180deg);
    animation: anima4 2s ease-in-out infinite alternate;
}

@keyframes anima4 {
    to {
        margin: 100px 0px 0px 60%;
    }

    from {
        margin: 120px 0px 0px 63%;
    }
}


.about-me {
    width: 500px;
    position: absolute;
    z-index: 100;
    margin: 200px 0px 0px 10%;
}

.hello {
    font-size: 40px;
    font-weight: 400;
    color: #3d535f;
}

h1 {
    font-size: 50px;
    color: #3d535f;
}

.multiText {
    color: #822dd6;
    text-transform: capitalize;
}

.btns button {
    padding: 7px;
    border: none;
    background-color: #3d535f;
    color: white;
    margin: 10px;
    box-shadow: 5px 5px 10px black;
}

.about-me p{ 
    font-size: 20px;
    color: #053651;
}

.skills{
    position: absolute;
    z-index: 15;
    margin-top: 675px;
    background-color: #1a313e;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    

}

.skills img{
    height: 40px;
    margin: 12px;
}

.skills img:hover{
    height: 45px;

}

#bootstrap{
    filter: invert(36%) sepia(80%) saturate(1944%) hue-rotate(250deg) brightness(103%) contrast(101%);
}

.bio{
    width: 80%;
    margin-top: 70px;
    margin-left: 70px;
   
}

.skill{
    margin-left: 70px;
    font-size: 17px;

}

.ani1{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        /* clip-path: inset(100% 100% 0 0); */
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        /* clip-path: inset(0 0 0 0); */
        transform: translateX(0px);
    }
    
}

.ani2{
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear1 {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}


.second-page {
    position: absolute;
    z-index: 14;
    margin-top: 720px;
    height: 800px;
    width: 100%;
    background-color: white;
}

.second-page h1{
    margin: 40px 0px 0px 60px;
}

.second-page p{
    margin: 10px 0px 0px 62px;
}

.project-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    margin-top: 50px;
    
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container img {
    width: 70%;
    border-radius: 10px;
}

.project-text {
  color: #053651;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
    
}

/* contact */

.contact-page {
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info {
    text-align: center;
}

.contact-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1.1em;
    color: #666;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    font-size: 1.1em;
    color: #333;
}

.contact-form {
    max-width: 60%;
    margin: 0 auto;
}

.contact-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-size: 1.1em;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.contact-form button {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    font-size: 0.9em;
    color: #666;
}

.break-line{
    text-align: center;
    padding: 10px;
    margin-top: 120px;
    border-top: 1px solid #ddd;
    font-size: 0.9em;
    color: #666;
}

.forth-page img{
    width: 35%;
    padding: 10px;
    margin: 20px 0px 0px 50px;
    border-radius: 20px;

}
